In [14]:
import pandas as pd

In [16]:
movie_list = pd.read_csv("movie_list.csv")
movie_list.shape

(440, 7)

In [17]:
movie_list.head()

,Watched,Title,Year,IMDb Rating,Runtime (mins),Genres,URL
0,True,3 Idiots,2009,8.4,170,"Comedy, Drama",https://www.imdb.com/title/tt1187043/
1,False,Reservoir Dogs,1992,8.3,99,"Crime, Thriller",https://www.imdb.com/title/tt0105236/
2,True,Lawless,2012,7.2,116,"Biography, Crime, Drama",https://www.imdb.com/title/tt1212450/
3,True,John Wick: Chapter 2,2017,7.4,122,"Action, Crime, Thriller",https://www.imdb.com/title/tt4425200/
4,False,How to Train Your Dragon,2010,8.1,98,"Animation, Action, Adventure, Family, Fantasy",https://www.imdb.com/title/tt0892769/

In [18]:
thriller = pd.read_csv("thriller.csv")
thriller.shape

(25, 18)

In [20]:
thriller = thriller[["Title", "Year", "IMDb Rating", "Runtime (mins)", "Genres", "URL"]]
thriller["Watched"] = False
thriller.shape

(25, 7)

In [21]:
thriller.head()

,Title,Year,IMDb Rating,Runtime (mins),Genres,URL,Watched
0,Funny Games,2007,6.5,111,"Crime, Drama, Thriller",https://www.imdb.com/title/tt0808279/,False
1,Funny Games,1997,7.5,108,"Crime, Drama, Thriller",https://www.imdb.com/title/tt0119167/,False
2,The Wailing,2016,7.4,156,"Drama, Horror, Mystery, Thriller",https://www.imdb.com/title/tt5215952/,False
3,The Invitation,2022,5.3,105,"Horror, Thriller",https://www.imdb.com/title/tt12873562/,False
4,The Lodge,2019,6.0,108,"Drama, Horror, Mystery, Thriller",https://www.imdb.com/title/tt7347846/,False

In [23]:
df = pd.concat([movie_list, thriller], ignore_index=True)
df.shape

(465, 7)

In [24]:
df.head()

,Watched,Title,Year,IMDb Rating,Runtime (mins),Genres,URL
0,True,3 Idiots,2009,8.4,170,"Comedy, Drama",https://www.imdb.com/title/tt1187043/
1,False,Reservoir Dogs,1992,8.3,99,"Crime, Thriller",https://www.imdb.com/title/tt0105236/
2,True,Lawless,2012,7.2,116,"Biography, Crime, Drama",https://www.imdb.com/title/tt1212450/
3,True,John Wick: Chapter 2,2017,7.4,122,"Action, Crime, Thriller",https://www.imdb.com/title/tt4425200/
4,False,How to Train Your Dragon,2010,8.1,98,"Animation, Action, Adventure, Family, Fantasy",https://www.imdb.com/title/tt0892769/

In [25]:
df.isnull().sum()

Watched           0
Title             0
Year              0
IMDb Rating       0
Runtime (mins)    0
Genres            0
URL               0
dtype: int64

In [27]:
df.duplicated().sum()

0

In [28]:
df["Runtime (mins)"] = df["Runtime (mins)"].astype(int)

In [29]:
df.to_csv("movie_list.csv", index=False, encoding='utf-8')