In [1]:
import pandas as pd

In [2]:
watchlist = pd.read_csv("watchlist.csv")
watchlist.head()

,Position,Const,Created,Modified,Description,Title,Original Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors,Your Rating,Date Rated
0,1,tt6263850,2024-06-16,2024-06-16,NaN,Deadpool & Wolverine,Deadpool & Wolverine,https://www.imdb.com/title/tt6263850/,Movie,NaN,127.0,2024,"Action, Comedy, Sci-Fi",0,2024-07-24,Shawn Levy,NaN,NaN
1,2,tt8337264,2024-06-16,2024-06-16,NaN,Tavuklar Firarda: Kurtarma Operasyonu,Chicken Run: Dawn of the Nugget,https://www.imdb.com/title/tt8337264/,Movie,6.4,98.0,2023,"Animation, Adventure, Comedy, Family",23322,2023-12-15,Sam Fell,NaN,NaN
2,3,tt0441773,2024-06-16,2024-06-16,NaN,Kung Fu Panda,Kung Fu Panda,https://www.imdb.com/title/tt0441773/,Movie,7.6,92.0,2008,"Animation, Action, Adventure, Comedy, Family, ...",526298,2008-07-04,"Mark Osborne, John Stevenson",NaN,NaN
3,4,tt1302011,2024-06-16,2024-06-16,NaN,Kung Fu Panda 2,Kung Fu Panda 2,https://www.imdb.com/title/tt1302011/,Movie,7.3,90.0,2011,"Animation, Action, Adventure, Comedy, Drama, F...",323271,2011-06-10,Jennifer Yuh Nelson,NaN,NaN
4,5,tt2267968,2024-06-16,2024-06-16,NaN,Kung Fu Panda 3,Kung Fu Panda 3,https://www.imdb.com/title/tt2267968/,Movie,7.1,95.0,2016,"Animation, Action, Adventure, Comedy, Family, ...",191420,2016-03-18,"Alessandro Carloni, Jennifer Yuh Nelson",NaN,NaN

In [3]:
watchlist["Watched"] = False

In [4]:
watchedlist = pd.read_csv("watchedlist.csv")
watchedlist.head()

,Position,Const,Created,Modified,Description,Title,Original Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors,Your Rating,Date Rated
0,1,tt0111161,2024-06-16,2024-06-16,NaN,Esaretin Bedeli,The Shawshank Redemption,https://www.imdb.com/title/tt0111161/,Movie,9.3,142,1994,Drama,2906046,1995-03-10,Frank Darabont,NaN,NaN
1,2,tt0068646,2024-06-16,2024-06-16,NaN,Baba,The Godfather,https://www.imdb.com/title/tt0068646/,Movie,9.2,175,1972,"Crime, Drama",2025052,1973-10,Francis Ford Coppola,NaN,NaN
2,3,tt0468569,2024-06-16,2024-06-16,NaN,Kara Şövalye,The Dark Knight,https://www.imdb.com/title/tt0468569/,Movie,9.0,152,2008,"Action, Crime, Drama, Thriller",2887299,2008-07-25,Christopher Nolan,NaN,NaN
3,4,tt0071562,2024-06-16,2024-06-16,NaN,Baba 2,The Godfather Part II,https://www.imdb.com/title/tt0071562/,Movie,9.0,202,1974,"Crime, Drama",1371390,1974-12-18,Francis Ford Coppola,NaN,NaN
4,5,tt0050083,2024-06-16,2024-06-16,NaN,12 Öfkeli Adam,12 Angry Men,https://www.imdb.com/title/tt0050083/,Movie,9.0,96,1957,"Crime, Drama",871229,1960-04-01,Sidney Lumet,NaN,NaN

In [5]:
watchedlist["Watched"] = True

In [6]:
df = pd.concat([watchlist,watchedlist])
df.shape

(342, 19)

In [7]:
df = df[df["Title Type"] == "Movie"]
df.shape

(331, 19)

In [8]:
df = df[["Watched","Original Title","IMDb Rating","Runtime (mins)","Year","Genres","URL"]]
df

,Watched,Original Title,IMDb Rating,Runtime (mins),Year,Genres,URL
0,False,Deadpool & Wolverine,NaN,127.0,2024,"Action, Comedy, Sci-Fi",https://www.imdb.com/title/tt6263850/
1,False,Chicken Run: Dawn of the Nugget,6.4,98.0,2023,"Animation, Adventure, Comedy, Family",https://www.imdb.com/title/tt8337264/
2,False,Kung Fu Panda,7.6,92.0,2008,"Animation, Action, Adventure, Comedy, Family, ...",https://www.imdb.com/title/tt0441773/
3,False,Kung Fu Panda 2,7.3,90.0,2011,"Animation, Action, Adventure, Comedy, Drama, F...",https://www.imdb.com/title/tt1302011/
4,False,Kung Fu Panda 3,7.1,95.0,2016,"Animation, Action, Adventure, Comedy, Family, ...",https://www.imdb.com/title/tt2267968/
...,...,...,...,...,...,...,...
185,True,Indiana Jones and the Kingdom of the Crystal S...,6.2,122.0,2008,"Action, Adventure",https://www.imdb.com/title/tt0367882/
186,True,Indiana Jones and the Dial of Destiny,6.5,154.0,2023,"Action, Adventure, Sci-Fi",https://www.imdb.com/title/tt1462764/
187,True,Indiana Jones and the Last Crusade,8.2,127.0,1989,"Action, Adventure",https://www.imdb.com/title/tt0097576/
188,True,Mononoke-hime,8.3,134.0,1997,"Animation, Action, Adventure, Fantasy",https://www.imdb.com/title/tt0119698/
189,True,Warrior,8.1,140.0,2011,"Action, Drama, Sport",https://www.imdb.com/title/tt1291584/

In [9]:
df.isnull().sum()

Watched           0
Original Title    0
IMDb Rating       3
Runtime (mins)    2
Year              0
Genres            0
URL               0
dtype: int64

In [10]:
df["IMDb Rating"].fillna(-1, inplace=True)

In [11]:
df["Runtime (mins)"].fillna(-1, inplace=True)

In [12]:
df.isnull().sum()

Watched           0
Original Title    0
IMDb Rating       0
Runtime (mins)    0
Year              0
Genres            0
URL               0
dtype: int64

In [13]:
df["Runtime (mins)"] = df["Runtime (mins)"].astype(int)

In [14]:
df.to_csv("movie_list.csv", index=False, encoding='utf-8')